.floating {
  position: relative;
  margin-top: 1.5rem;
}

.label {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  pointer-events: none;
  color: var(--mantine-color-gray-5);
  transition: transform 120ms ease, color 120ms ease, font-weight 120ms ease;
  transform: translate(1rem, 0.5rem);
  font-size: var(--mantine-font-size-sm);
}

.label[data-floating] {
  transform: translate(0, -1.5rem);
  font-weight: 500;
  color: var(--mantine-primary-color-filled);
  font-size: var(--mantine-font-size-xs);
}

.input {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.invalid {
  color: var(--mantine-color-red-7);
  border-color: var(--mantine-color-red-7);
}

.icon {
  color: var(--mantine-color-red-7);
}