.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.user:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.card {
  background-color: var(--mantine-color-body);
}

.avatar {
  border: 2px solid var(--mantine-color-body);
}

.icon {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.name {
  font-family: Outfit, var(--mantine-font-family);
}